 <manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.example.tappnpay">
 <uses-permission android:name="android.permission.NFC" />
 <uses-feature android:name="android.hardware.nfc" android:required="true" />
 <application
android:allowBackup="true"
 android:label="TapNPay"
 android:theme="@style/Theme.TapNPay">
 <activity android:name="com.example.tappnpay.ReceiverActivity">
 <intent-filter>
 <action android:name="android.nfc.action.NDEF_DISCOVERED" />
 <category android:name="android.intent.category.DEFAULT" />
 <data android:mimeType="text/plain" />
 </intent-filter>
 </activity>
 <activity android:name="com.example.tappnpay.MainActivity">
 <intent-filter>
 <action android:name="android.intent.action.MAIN" />
 <category android:name="android.intent.category.LAUNCHER" />
 </intent-filter>
 </activity>
 </application>
 </manifest>
